@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i");
body {
  margin: 0;
  font-family: 'Roboto Mono', monospace; }

h1, h2, h3, h4, p {
  opacity: 0.8; }

h3 {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1); }

.container {
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem; }

.nav {
  height: 54px;
  width: 100%;
  border-bottom: 1px solid #e8e8e8; }

.left {
  float: left; }

.right {
  float: right; }

.links {
  margin-top: 20px; }

.navlink {
  margin-right: 18px;
  font-size: 13.5px;
  padding-bottom: 13.0px;
  transition: all 0.2s ease-in-out;
  border-bottom: 3px solid transparent; }

.navlink:hover {
  border-bottom: 3px solid #FFED03; }

.feature {
  max-width: 450px;
  margin-top: 90px;
  transition: max-width 0.2s ease-in-out; }

.feature:hover {
  opacity: 0.5;
  cursor: pointer; }

.feature:active {
  max-width: 70%; }

.quote {
  margin-top: 15px;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 400i;
  opacity: 0.6;
  font-size: 15px; }

.main {
  margin-top: 65px;
  text-align: left; }

.pbody {
  height: 100px;
  border-radius: 4px;
  padding: 15px;
  border: 3px solid transparent; }

.pbody:hover {
  cursor: pointer;
  border: 3px solid #FFED03;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.1); }

.pbody:active {
  box-shadow: 0px 0px rgba(0, 0, 0, 0.1);
  margin-top: 4px; }

.picon {
  height: 100%;
  width: 100px;
  border-radius: 50%;
  background-color: #eee;
  text-align: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: background-color 0.3s ease; }

.pbody:hover > .picon {
  background-color: transparent; }

.pdata {
  margin-left: 150px;
  position: absolute;
  margin-top: -15px; }

.pdata.info {
  margin-top: 13px;
  max-width: 250px; }

.appicon {
  width: 50px;
  margin-top: 25px;
  border-radius: 6px; }

a {
  color: black;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

a:hover {
  opacity: 1;
  cursor: pointer;
  color: #FFED03; }

.members {
  list-style: none;
  border-left: 4px solid #FFED03;
  padding-left: 1rem; }

li:active {
  font-size: 90%; }

.copyright {
  font-size: 12px;
  text-align: center; }

.up {
  padding: 7px;
  border: 3px solid #FFED03;
  border-radius: 15%;
  color: #FFED03;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.1); }

.up:hover {
  background-color: #FFED03;
  color: white; }

.up:focus {
  box-shadow: 0px 0px rgba(0, 0, 0, 0.1);
  margin-top: 200px; }

.mail {
  border-bottom: 2px solid grey;
  padding-bottom: 3px; }

.mail:hover {
  border-bottom: 2px solid #FFED03; }

summary::-webkit-details-marker {
  display: none; }

summary:focus {
  outline: none; }

.sum {
  background-color: transparent;
  border: 2px solid #FFED03;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1); }

.cat {
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1); }

details[open] .sum {
  background-color: #FFED03; }

details[open] .cat {
  color: #FFED03; }

.cat {
  margin-left: 40px; }

.cat:hover {
  cursor: pointer; }

::-moz-selection {
  background: #FFED03;
  color: #030300; }

::selection {
  background: #FFED03;
  color: #030300; }

@media screen and (max-width: 450px) {
  .feauture {
    max-width: 250px; }
  .pdata.info {
    max-width: 150px; } }

@media screen and (max-width: 720px) {
  .pdata {
    margin-left: 130px; }
  .feature {
    max-width: 300px; }
  .pdata.info {
    max-width: 230px; } }
